<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/styles/main.css">
    <title>Blogspot</title>
</head>
<body>

<div class="container">
    <h2 class="title">Blogspot</h2>
    <a href="/" class="active ">Home</a>
    <a href="/books"class="active">Books</a>
    <a href="/fortune"class="active">Fortune</a>
    <a href="/food"class="active">Food</a>
    <a href="/quotes"class="active">Quotes</a>
    <a href="/anime"class="active">Anime</a>
    <a href="/movies"class="active">Movies</a>
   

</div>

<script src="/script/scr.js" defer></script>
