<%- include("partials/header.ejs") %>
<div class="book-cont">
    <h2 class="book-heading">Top Foods Around World</h2>
    <div class="book1">
        <div class="book-title"><b>Name:</b>Monster</div>
        <div class="book-auth"><b>Creator:</b>Naoki Urasawa</div>
        <div class="book-pub"><b>Rating:</b>9.12/10</div>
        <div class="book-pri"><b>Episodes:</b>74</div>
        <div class="book-exp"><b>Overview:</b>"Monster" follows the story of Dr. Kenzo Tenma, a brilliant neurosurgeon, who becomes entangled in a web of conspiracy after saving the life of a young boy who turns out to be a sociopathic murderer. It delves into themes of morality, human nature, and the consequences of one's actions.</div>
    </div>
    <div class="book2">
        <div class="book-title"><b>Name:</b>Mushishi</div>
        <div class="book-auth"><b>Creator:</b>Yuki Urushibara</div>
        <div class="book-pub"><b>Rating:</b>8.75/10</div>
        <div class="book-pri"><b>Episodes:</b>26</div>
        <div class="book-exp"><b>Overview:</b>"Mushishi" is a serene and mystical series following Ginko, a Mushi master, as he travels through rural Japan encountering and studying Mushi, ethereal beings that exist beyond the realm of life and death. Each episode explores a standalone story, focusing on the interaction between humans and Mushi.</div>
    </div>
    <div class="book3">
        <div class="book-title"><b>Name:</b> Hajime no Ippo</div>
        <div class="book-auth"><b>Creator:</b> George Morikawa</div>
        <div class="book-pub"><b>Rating:</b> 8.74/10</div>
        <div class="book-pri"><b>Episodes:</b>Over 130</div>
        <div class="book-exp"><b>Overview:</b>"Hajime no Ippo" follows the story of Ippo Makunouchi, a shy and timid high school student who is frequently bullied. One day, he is saved from bullies by a professional boxer named Mamoru Takamura, who inspires Ippo to take up boxing. </div>
    </div>
    <div class="book4">
        <div class="book-title"><b>Name:</b>Haikyuu!!</div>
        <div class="book-auth"><b>Creator:</b>Haruichi Furudate</div>
        <div class="book-pub"><b>Rating:</b> 8.71/10</div>
        <div class="book-pri"><b>Episodes:</b>85</div>
        <div class="book-exp"><b>Overview:</b>"Haikyuu!!" follows the story of Shoyo Hinata, a determined volleyball player inspired by the "Little Giant," a legendary player he saw on TV as a child. Despite his short stature, Hinata possesses exceptional jumping ability and a burning passion for the sport. </div>
    </div>
    <div class="book5">
        <div class="book-title"><b>Name:</b>Ping Pong the Animation.</div>
        <div class="book-auth"><b>Creator:</b>Taiyo Matsumoto</div>
        <div class="book-pub"><b>Rating:</b> 8.62/10</div>
        <div class="book-pri"><b>Episodes:</b>11</div>
        <div class="book-exp"><b>Overview:</b>"Ping Pong the Animation" is a sports anime that transcends the typical tropes of the genre. It focuses on the intense world of competitive table tennis, exploring the lives, aspirations, and struggles of its diverse cast of characters as they strive for greatness on the table.</div>
    </div>
   
</div>