<%- include("partials/header.ejs") %>
<div class="book-cont">
    <h2 class="book-heading">Top Books On Wealth</h2>
    <div class="book1">
        <div class="book-title"><b>Name:</b>Rich Dad Poor Dad</div>
        <div class="book-auth"><b>Author:</b>Robert T. Kiyosaki</div>
        <div class="book-pub"><b>Published Year:</b>1997</div>
        <div class="book-pri"><b>Price:</b>$7.99 (paperback)</div>
        <div class="book-exp"><b>Overview:</b>Rich Dad Poor Dad" contrasts the financial philosophies of the author’s two father figures: his biological father (Poor Dad) and his best friend's father (Rich Dad). The book emphasizes the importance of financial education, investing in assets, and understanding money management to achieve financial independence.</div>
    </div>
    <div class="book2">
        <div class="book-title"><b>Name:</b>Think and Grow Rich</div>
        <div class="book-auth"><b>Author:</b>Napoleon Hill</div>
        <div class="book-pub"><b>Published Year:</b>1937</div>
        <div class="book-pri"><b>Price:</b> $10.99 (paperback)</div>
        <div class="book-exp"><b>Overview:</b>"Think and Grow Rich" is a personal development and self-help book that was inspired by a suggestion from business magnate Andrew Carnegie. Hill's 13 principles to success and personal achievement are based on extensive research on prosperous individuals, emphasizing the power of thoughts and goal-setting in attaining wealth.</div>
    </div>
    <div class="book3">
        <div class="book-title"><b>Name:</b>The Millionaire Next Door</div>
        <div class="book-auth"><b>Author:</b>Thomas J. Stanley and William D. Danko</div>
        <div class="book-pub"><b>Published Year:</b>1996</div>
        <div class="book-pri"><b>Price:</b>$11.99 (paperback)</div>
        <div class="book-exp"><b>Overview:</b>This book dispels the myth that to be wealthy, one must have a high income or live an extravagant lifestyle. Through research and case studies, the authors reveal common traits and habits of America’s wealthy, such as frugality, smart investing, and living below their means.</div>
    </div>
    <div class="book4">
        <div class="book-title"><b>Name:</b>The Richest Man in Babylon</div>
        <div class="book-auth"><b>Author:</b>George S. Clason</div>
        <div class="book-pub"><b>Published Year:</b>1926</div>
        <div class="book-pri"><b>Price:</b>$6.99 (paperback)</div>
        <div class="book-exp"><b>Overview:</b>"The Richest Man in Babylon" is a classic book on financial planning and wealth building. Through parables set in ancient Babylon, it provides timeless principles such as saving a portion of income, investing wisely, and seeking financial wisdom to build and preserve wealth.</div>
    </div>
    <div class="book5">
        <div class="book-title"><b>Name:</b>You Are a Badass at Making Money</div>
        <div class="book-auth"><b>Author:</b>Jen Sincero</div>
        <div class="book-pub"><b>Published Year:</b>2017</div>
        <div class="book-pri"><b>Price:</b>$14.99 (paperback)</div>
        <div class="book-exp"><b>Overview:</b>Jen Sincero combines personal anecdotes, practical advice, and motivational pep talks to help readers break free from their limiting beliefs about money. This book encourages readers to adopt a positive mindset, take actionable steps towards financial goals, and embrace their potential to earn more.</div>
    </div>

  
   
</div>