<%- include("partials/header.ejs") %>
<div class="book-cont">
    <h2 class="book-heading">Top Foods Around World</h2>
    <div class="book1">
        <div class="book-title"><b>Name:</b> Sushi</div>
        <div class="book-auth"><b>Cuisine:</b>Japanese</div>
        <div class="book-pub"><b>Popularity:</b>★★★★★</div>
        <div class="book-pri"><b>Price:</b>$10 - $100 per person</div>
        <div class="book-exp"><b>Overview:</b>Sushi is a traditional Japanese dish consisting of vinegared rice, usually accompanied by raw fish or seafood, and vegetables. It often comes with condiments like soy sauce, wasabi, and pickled ginger. Sushi can be served in various forms, such as nigiri (hand-pressed), maki (rolled), and sashimi</div>
    </div>
    <div class="book2">
        <div class="book-title"><b>Name:</b> Pizza Margherita</div>
        <div class="book-auth"><b>Cuisine:</b> Italian</div>
        <div class="book-pub"><b>Popularity:</b>★★★★★</div>
        <div class="book-pri"><b>Price:</b>$8 - $20 per pizza</div>
        <div class="book-exp"><b>Overview:</b>Pizza Margherita is a classic Neapolitan pizza named after Queen Margherita of Savoy. It features a simple yet flavorful combination of fresh tomatoes, mozzarella cheese, fresh basil, salt, and olive oil, representing the colors of the Italian flag. The dough is traditionally hand-tossed and baked in a wood-fired oven.</div>
    </div>
    <div class="book3">
        <div class="book-title"><b>Name:</b>Tacos al Pastor</div>
        <div class="book-auth"><b>Cuisine:</b>Mexican</div>
        <div class="book-pub"><b>Popularity:</b>★★★★☆</div>
        <div class="book-pri"><b>Price:</b>$1 - $3 per taco</div>
        <div class="book-exp"><b>Overview:</b>Tacos al Pastor are a popular street food in Mexico, influenced by Lebanese immigrants who introduced the concept of shawarma. The dish consists of marinated pork, cooked on a vertical spit (similar to shawarma), and served on small corn tortillas. It is typically garnished with pineapple, onions, cilantro, and a variety of salsas.</div>
    </div>
    <div class="book4">
        <div class="book-title"><b>Name:</b>Peking Duck</div>
        <div class="book-auth"><b>Cuisine:</b> Chinese</div>
        <div class="book-pub"><b>Popularity:</b>★★★★☆</div>
        <div class="book-pri"><b>Price:</b>$40 - $80 per dish</div>
        <div class="book-exp"><b>Overview:</b> Peking Duck is a famous Chinese dish known for its crispy skin and tender meat. The duck is seasoned, air-dried, and roasted until the skin is crispy and golden brown. It is traditionally served with thin pancakes, hoisin sauce, and sliced green onions. Diners assemble their own pancakes with slices of duck, skin, and condiments.</div>
    </div>
    <div class="book5">
        <div class="book-title"><b>Name:</b> Croissant</div>
        <div class="book-auth"><b>Cuisine:</b>French</div>
        <div class="book-pub"><b>Popularity:</b>★★★★★</div>
        <div class="book-pri"><b>Price:</b>$1 - $4 per piece</div>
        <div class="book-exp"><b>Overview:</b>The croissant is a buttery, flaky, and crescent-shaped pastry that originated in France. Made from a laminated dough, which involves folding butter into the dough multiple times to create thin layers, the croissant is a staple of French bakeries and cafes. It can be enjoyed plain or filled with ingredients like chocolate or almond paste.</div>
    </div>

  
   
</div>