<%- include("partials/header.ejs") %>
<div class="book-cont">
    <h2 class="book-heading">Top Indian Fortune Companies</h2>
    <div class="book1">
        <div class="book-title"><b>Name:</b>Reliance Industries Limited</div>
        <div class="book-auth"><b>Field:</b> Conglomerate </div>
        <div class="book-pub"><b>CEO:</b>Mukesh Ambani</div>
        <div class="book-pri"><b>Turnover:</b>Approximately $87 billion</div>
        <div class="book-exp"><b>Overview:</b>RIL is one of India's largest conglomerates, with interests spanning petrochemicals, refining, oil & gas exploration, retail, telecommunications, and digital services. It operates the world's largest oil refining complex and the largest integrated polyester producer.</div>
    </div>
    <div class="book2">
        <div class="book-title"><b>Name:</b>Indian Oil Corporation Limited</div>
        <div class="book-auth"><b>Field:</b>Oil and Gas</div>
        <div class="book-pub"><b>CEO:</b>Shrikant Madhav Vaidya</div>
        <div class="book-pri"><b>Turnover:</b>Approximately $85 billion</div>
        <div class="book-exp"><b>Overview:</b>IOCL is India's largest commercial enterprise, with a dominant presence in refining, pipeline transportation, and marketing of petroleum products. It operates one of Asia's largest networks of refineries, pipelines, and marketing infrastructure.</div>
    </div>
    <div class="book3">
        <div class="book-title"><b>Name:</b>Tata Group</div>
        <div class="book-auth"><b>Field:</b>Conglomerate</div>
        <div class="book-pub"><b>CEO:</b>Natarajan Chandrasekaran</div>
        <div class="book-pri"><b>Turnover:</b>Approximately $100 billion</div>
        <div class="book-exp"><b>Overview:</b>Tata Group is one of India's oldest and largest conglomerates, with businesses ranging from steel, automobiles, IT services, and telecommunications to hospitality, aerospace, and consumer goods. It is known for its commitment to corporate social responsibility and ethical business practices.
        </div>
    </div>
    <div class="book4">
        <div class="book-title"><b>Name:</b>State Bank of India</div>
        <div class="book-auth"><b>Field:</b>Banking and Financial Services</div>
        <div class="book-pub"><b>CEO:</b>Dinesh Khara</div>
        <div class="book-pri"><b>Turnover:</b>Approximately $56 billion</div>
        <div class="book-exp"><b>Overview:</b>SBI is India's largest bank and a Fortune Global 500 company. It offers a wide range of banking products and financial services, including retail and corporate banking, investment banking, asset management, insurance, and treasury services.
        </div>
    </div>
    <div class="book5">
        <div class="book-title"><b>Name:</b>Oil and Natural Gas Corporation Limited</div>
        <div class="book-auth"><b>Field:</b>Oil and Gas</div>
        <div class="book-pub"><b>CEO:</b>Subhash Kumar</div>
        <div class="book-pri"><b>Turnover:</b>Approximately $14 billion</div>
        <div class="book-exp"><b>Overview:</b>ONGC is India's largest oil and gas exploration and production company, responsible for the majority of the country's crude oil and natural gas production. It operates both onshore and offshore assets and has a significant presence in India's energy sector.</div>
    </div>
   
</div>