<%- include("partials/header.ejs") %>
<div class="book-cont">
    <h2 class="book-heading">Top Foods Around World</h2>
    <div class="book1">
        <div class="book-title"><b>Name:</b>Amélie</div>
        <div class="book-auth"><b>Director:</b>Jean-Pierre Jeunet</div>
        <div class="book-pub"><b>Genre:</b> Comedy, Romance</div>
        <div class="book-pri"><b>Year:</b>2001</div>
        <div class="book-exp"><b>Overview:</b>Directed by Jean-Pierre Jeunet, "Amélie" follows the whimsical journey of Amélie Poulain, a shy and imaginative young woman who decides to embark on a mission to bring happiness to the lives of those around her in unconventional ways. Set in Paris, the film celebrates the beauty of small moments, human connections, and the joy of living life to the fullest.</div>
    </div>
    <div class="book2">
        <div class="book-title"><b>Name:</b>Little Miss Sunshine</div>
        <div class="book-auth"><b>Director:</b> Jonathan Dayton, Valerie Faris</div>
        <div class="book-pub"><b>Genre:</b>  Comedy, Drama</div>
        <div class="book-pri"><b>Year:</b>2006</div>
        <div class="book-exp"><b>Overview:</b>Directed by Jonathan Dayton and Valerie Faris, "Little Miss Sunshine" follows the dysfunctional Hoover family as they embark on a cross-country road trip to support their daughter, Olive, in a children's beauty pageant.</div>
    </div>
    <div class="book3">
        <div class="book-title"><b>Name:</b>Lost in Translation</div>
        <div class="book-auth"><b>Director:</b>Sofia Coppola</div>
        <div class="book-pub"><b>Genre:</b> Drama, Romance</div>
        <div class="book-pri"><b>Year:</b>2003</div>
        <div class="book-exp"><b>Overview:</b>Directed by Sofia Coppola, "Lost in Translation" portrays the unlikely bond between two lonely strangers, Bob Harris, an aging actor, and Charlotte, a young woman accompanying her photographer husband on a business trip to Tokyo. </div>
    </div>
    <div class="book4">
        <div class="book-title"><b>Name:</b>About Time</div>
        <div class="book-auth"><b>Director:</b>Richard Curtis</div>
        <div class="book-pub"><b>Genre:</b> Comedy, Drama, Romance</div>
        <div class="book-pri"><b>Year:</b>2013</div>
        <div class="book-exp"><b>Overview:</b> Directed by Richard Curtis, "About Time" follows the story of Tim Lake, a young man who learns from his father that the men in their family have the ability to travel back in time.</div>
    </div>
    <div class="book5">
        <div class="book-title"><b>Name:</b>The Way</div>
        <div class="book-auth"><b>Director:</b>Emilio Estevez</div>
        <div class="book-pub"><b>Genre:</b>Adventure, Comedy, Drama</div>
        <div class="book-pri"><b>Year:</b> 2010</div>
        <div class="book-exp"><b>Overview:</b> Directed by Emilio Estevez, "The Way" follows the journey of Tom, an American doctor, who travels to France to retrieve the remains of his son, who died while hiking the Camino de Santiago pilgrimage route.</div>
    </div>
   
</div>